# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Build / dist
build/
dist/
*.egg-info/

# Other
*.sqlite3
